{% extends "base.html" %}

{% block content %}
<div class="container mx-auto">
  <h1>{{ title }}</h1>

  <div class="flex sm:flex-row mb-6 sm:mb-0">
    {% for lanche in lanches %}
      <div class="w-1/4 sm:flex-1 lg:flex-initial lg:w-1/4 rounded my-4 mx-2 flex flex-col bg-indigo text-white">
        <div class="p-8 text-3xl font-bold text-center">{{ lanche.nome }}</div>
        <div class="border-0 border-grey-light border-t border-solid text-sm">
          {% for ingrediente in lanche.ingredientes %}
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">
            {{ ingrediente.nome }}
          </div>
          {% endfor %}
        </div>
        <div class="text-center mt-8 mb-8 mt-auto pt-2">
          <a href="/lanche/{{ lanche.id }}"
            class="bg-white hover:bg-grey-darker hover:text-white font-bold py-2 px-4 rounded">
              Selecionar
          </a>
        </div>
      </div>
    {% endfor %}
  </div>


  <div class="bg-blue-lightest border-t border-b border-blue text-blue-dark px-4 py-3 mt-4" role="alert">
    <p class="font-bold">Preço do lanche escolhido:</p>
    <p id="preco"></p>
  </div>
</div>

{% endblock %}