{% extends "base.html" %}

{% block content %}
<div class="container mx-auto">
  <div class="flex mb-4">
    <div class="w-1/2 h-12 flex">
      <span class="text-3xl font-bold self-center">{{ title }}</span>
    </div>
    <div class="w-1/2 h-12 text-right">
      <a href="/montar" class="bg-transparent border border-teal rounded
                    hover:bg-teal hover:text-white hover:border-transparent
                    text-teal-dark font-semibold py-2 px-4 my-2 mx-4">
        Montar lanche
      </a>
    </div>
      
  </div>

  <div class="flex sm:flex-row mb-6 sm:mb-0">
    {% for lanche in lanches %}
      <div class="w-1/4 sm:flex-1 lg:flex-initial lg:w-1/4 rounded my-4 mx-2 flex flex-col bg-indigo text-white">
        <div class="p-8 text-3xl font-bold text-center">{{ lanche.nome }}</div>
        <div class="border-0 border-grey-light border-t border-solid text-sm">
          {% for ingrediente in lanche.ingredientes %}
          <div class="text-center border-0 border-grey-light border-b border-solid py-4">
            {{ ingrediente.nome }}
          </div>
          {% endfor %}
        </div>
        <div class="text-center mt-8 mb-8 mt-auto pt-2">
          <a href="/lanche/{{ lanche._id }}"
            class="bg-white hover:bg-grey-darker hover:text-white font-bold py-2 px-4 rounded">
              Selecionar
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

</div>

{% endblock %}